<!-- Footer -->
<footer id="footer" class="panel">
    <div>
        <div>
            <section>
                <h2>{{ site.title }}</h2>
                <p>
                    Here is YuzukiTsuru's hardware project organization, including open source hardware design,
                    software source code, related documents, and some development kits.
                </p>
                <p>
                    Unless specifically stated, you can use the hardware design files of these projects under the CERN Open Hardware Licence Version 2 - Strongly Reciprocal License or CERN Open Hardware Licence Version 2 - Permissive depends on which project
                </p>
                <p>
                    All hardware designs use <a href="https://pro.easyeda.com/editor" class="icon">easyeda</a>
                </p>
            </section>
            <section>
                <h2>Follow me on ...</h2>
                <ul class="icons">
                    <li><a href="https://twitter.com/GLGH_" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://github.com/YuzukiHD/" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
                    </li>
                </ul>
            </section>
            <p class="copyright">
                {{ site.auther }} &copy; 2021 - 2023 | <a href="https://beian.miit.gov.cn/">滇ICP备19005195号-1</a> | Design: <a href="http://html5up.net">HTML5 UP</a>. 
            </p>
        </div>
    </div>
</footer>
